*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: auto;
}

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #010040;
  --clr-primary-2: #020066;
  --clr-primary-3: #02008c;
  --clr-primary-4: #0300b3;
  /* primary/main color */
  --clr-primary-5: #0300d9;
  /* lighter shades of primary color */
  --clr-primary-6: #0400ff;
  --clr-primary-7: #4f4dff;
  --clr-primary-8: #7573ff;
  --clr-primary-9: #9b99ff;
  --clr-primary-10: #c0bfff;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: hsl(360, 71%, 66%);
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --custom-blue: #017acd;
  --custom-darkblue: #01528A;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
/*  global classes */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

.container{
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
}

@media screen and (max-width:1024px) {
  .hero-wrapper{
    width: 100% !important;
    justify-content: center;
    align-items: stretch !important;
    text-align: center;
  }
  .search-bar-container{
    display: flex;
    justify-content: center;
  }

  .inputHeroBtn{
    font-size: 15px !important;
  }

  .input-wrapper {
    width: 100%;
  }
}

.applyjob{
  margin: 100px 0;
  .applyjob-hero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .applyjob-section{
    margin-top: 100px;

    .homeSecondSection-card{
      padding: 20px;
    }
  }
}