.forgotForm{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    gap: 40px;
    .forgotInput{
        width: 300px;
        height: 50px;
        font-size: 30px;
        color: black;
    }
}
.a{
    display: flex;
    flex-direction: column;
    padding: 40px 10px;
    gap: 50px;
}
.forgotBtn{
    background-color: #330691;
    color: white;
    padding: 20px 60px;
    border-radius: 20px;
    cursor: pointer;
        &:hover{
            background-color: #2e0783;  
        }
}