.homeStats{
    background-color: #F9F8F6;
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 100px 10px;
        gap: 120px;

        .stats{
            width: 100%;
            display: flex;
            gap: 50px;
            flex-wrap: wrap;
            justify-content: space-around;
            
            .prof{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
            .count{
                color: #3F27BA;
                font-size: 48px ;
                font-weight: bold;
            }
            .count-write{
                color: #017ACD ;
                font-size: 32px;
            }
        }
        .statsBtn{
            background-color: #330691;
            color: white;
            padding: 20px 60px;
            border-radius: 20px;
        }
    }

   
}