.everyjob{
    background-color: #F9F8F6;
    padding: 70px 5px;
    .container{
        display: flex;
        flex-direction: column;
        gap: 50px;
    }
    .everyjob-title{
        text-transform: uppercase;
        text-align: center;
    }
}

.everjobCards-wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}

.homeeveryjob-card{
    display: flex;
    flex-direction: column;
    gap: 20px;
    .homeeveryjob-card-title{
        font-weight: bold;
        font-size: 20px;
        text-align: center;
    }
    .homeeveryjob-links{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
}