.prfile-titles {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 40px;
  .prfileViewLink {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bold;
    color: var(--custom-blue);
    &:hover {
      color: var(--custom-darkblue);
    }
  }
}
.profileSide {
  padding: 0 10px;
}
.profileContent-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  .profileImageInputIcon {
    cursor: pointer;
    background-color: var(--custom-blue);
    padding: 40px;
    border-radius: 50%;
  }
  .prfileIcon {
    font-size: 50px;
    color: white !important;
  }
}
.stars {
  color: green;
}
.profile-contantSide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .contantSide-line {
    display: flex;
    align-items: center;
    justify-content: center;
    word-spacing: 3px;
  }
  .ml {
    margin-left: 5px;
    color: var(--custom-blue);
  }
}
#profileImageInput {
  display: none;
}

.profile-copy-link-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  .profile-link {
    background-color: rgb(228, 227, 227);
    padding: 20px 10px;
    border: 2px rgb(176, 176, 176) solid;
  }
  .profile-link-buttons {
    display: flex;
    gap: 10px;

    .link-button {
      cursor: pointer;
      flex: 1;
      height: 50px;
      border-radius: 40px;
      border: none;
      outline: none;
      font-weight: bold;
    }
    :nth-child(1) {
      background-color: var(--custom-blue);
      color: white;
      &:hover {
        background-color: var(--custom-darkblue);
      }
    }
    :nth-child(2) {
      color: var(--custom-blue);
      background-color: white;
      border: 1px var(--custom-blue) solid;
      &:hover {
        background-color: rgba(194, 211, 223, 0.421);
      }
    }
  }
}
.promotion-wrapper {
  padding: 50px 10px;
}

.company-desc{
    padding: 40px 10px;
}
.company-head {
  display: flex;
  justify-content: space-between;

  .company-desc-btn {
    background-color: transparent;
    border: none;
    color: var(--custom-blue);
    font-size: 15px;
    cursor: pointer;
  }
}

.portfolio-promotion {
  margin: 40px 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
#portfolioInput {
  display: none;
}

.uploadImageFileIcon{
    width: 50px;
    height: 50px;
}
.radioBtnProfile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.guarantee-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.yesORnoForm{
    padding: 10px;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
}