.qualityReq-hero{
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-bottom: 40px;
    margin-left: 5px;
    margin-right: 5px;
    .qualityReqImage{
        border-radius: 20px;
    }
}

.quailty-content{
    display: flex;
    flex-direction: column;
    gap: 20px;
    background-color: aliceblue;
    padding: 40px 10px;
    border-radius: 20px;
}

.quailtCard{
    display: flex;
    gap: 40px;
    max-width: 800px;
    .icon{
        font-size: 70px;
        color: #B5DCFF;
    }
    .quailtCard-content{
        display: flex;
        flex-direction: column;
        gap: 20px;
        .quailtCard-list{
            padding: 0 60px;
            list-style: disc;
        }
    }
    
}

.quailty-cards{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin: 50px 10px;
    align-items: center;
    justify-content: center;
    gap: 40px;
    padding: 0 10px;
}

.statsBtn{
  background-color: #330691;
    color: white;
    padding: 20px 60px;
    border-radius: 20px;  
}