.termsandconditions{
    .container{
        display: flex;
        flex-direction: column;
        gap: 5px;

        .lists{
            line-height: 30px;
        }

        .conditions{
            display: flex;
            flex-direction: column;
            gap: 5px;
            
            .htext{
                margin: 20px 0;
            }
        }
    }
}