.input-wrapper {
    max-width: 600px;
    height: 60px;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 8px #ddd;
    background-color: white;
    display: flex;
    align-items: center;
    padding: 5px;
  }
  
  #inputHero {
    background-color: transparent;
    border: none;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 5px;
  }
  
  input:focus {
    outline: none;
  }
  
  #search-icon {
    color: royalblue;
  }

  .inputHeroBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40%;
    background-color: var(--custom-blue);
    height: 100%;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 20px;
    cursor: pointer;
    color: white;
    &:hover{
      background-color: var(--custom-darkblue);
    }
  }


