.about-head{
    background-color: #F0F5FE;
    padding: 100px 0;
}

.about-body{
    margin:40px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
    .about-body-content{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}