.howwork-hero{
    background-color: #F0F5FE ;
    .container{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        justify-content: center;
        gap: 40px;
        padding: 100px 10px;
    }
    .leftSide{
        display: flex;
        flex-direction: column;
        gap: 40px;
        text-align: center;
    }
    .rightSide{
        font-size: 120px;
    }
}
.howwork-hero div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.step{
    display: flex;
    flex-wrap: wrap;
    padding: 100px 10px; 
    gap: 20px;
}
.howworksteps-contact{
    min-width: 300px;
}
.howworksteps-contact-title{
    color: #2C2C2C;
}
.howworksteps-contact-paragrahp{
    color: grey;
}


.info{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #5fb3fd;
    padding: 50px;
    color: white;
    font-size: 20px;
}

.step div {
    flex:1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;  
}
.reverse{
    flex-direction: row-reverse;
    background-color: #F0F5FE;
}
.howworksteps-icon{
    font-size: 100px;
    color: #5fb3fd;
}

.howworksteps-contact{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.howwork-comment{
    display: flex;
    gap: 20px;
    background-color: #F0F5FE;
    padding: 100px 10px;
    flex-wrap: wrap;
    .howwork-comment-card{
        min-width: 200px;
        flex: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 10px;
        justify-content: center;
        .howwork-comment-card-title{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        width: 300px;
    }
}
.howworrkShareBtn-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding: 100px 10px;
    .howworkBtn{
        background-color: #330691;
        color: white;
        padding: 20px 60px;
        border-radius: 20px;
    }
}

