.register{
  padding: 50px 0 ;
}

.register-hero{
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: calc(100vh - 86px);
}

.contentSide{
  display: flex;
  justify-content: center;
  height: 100%;
  flex: 1;
  .contentSideImage{
    max-height: 600px;
    object-fit: cover;
    width: 100%;
  }
}
.formSide{
  flex: 1;
  padding: 0px 40px;
}
.registerForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    text-align: center;
}

  select {
    background-color: white;
    outline: 0;
    border: 0;
    box-shadow: none;
    flex: 1;
    padding: 10px;
    color: grey;
    border: 1px solid grey;
    background-image: none;
    cursor: pointer;
    position: relative;
    display: flex;
    width: 20em;
    height: 57.6px;
    border-radius: .25em;
    overflow: hidden;
  }

  input[type=text],[type=email]{
    background-color: white;
    outline: 0;
    border: 0;
    box-shadow: none;
    padding: 20px 10px;
    color: grey;
    border: 1px solid grey;
    cursor: pointer;
    position: relative;
    display: flex;
    width: 20em;
    overflow: hidden;
  }

  .registerBtn{
    outline: none;
    border: none;
    padding: 20px 60px;
    font-size: 20px;
    color: white;
    background-color: var(--custom-blue);
    border-radius: 20px;
    &:hover{
        background-color: var(--custom-darkblue) ;
        cursor: pointer;
    }
  }

  .assignments-title{
    color: var(--custom-blue);
    padding: 50px;
  }
    .cards{
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      gap: 30px;
    }
  .assignments-card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 300px;
    text-align: center;
    gap: 20px;
    background-color: #F9F8F6 ;
    padding: 20px 0px;
    border-radius: 20px;
  }

  .assignments-card img{
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
  }

  .assignments-card span {
    font-size: 50px;
  }

  .tv-wrapper{
    display: flex;
    max-width: 100%;
    flex-wrap: wrap;
    margin: 40px 0;
    min-height: 300px;
    justify-content: space-evenly; 
    align-items: center;
    background-color: #F9F8F6;
    border-radius: 20px;
  }

  .tv-wrapper .tvs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
  }

  .register-find-work-FirstText{
    display: flex;
    padding: 40px 10px;
    flex-direction: column;
    gap: 30px;
  }
  .find-works-desc-lists{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 60px;
  }

  .register-find-work-SecondText{
    display: flex;
    padding: 40px 10px;
    flex-direction: column;
    gap: 30px;
    .find-works-desc-lists{
      list-style-type: number;
      gap: 4px;
      padding: 0 60px;
    }
  }

  .register-find-work-ThirdText{
    display: flex;
    padding: 40px 10px;
    flex-direction: column;
    gap: 30px;
    .find-works-desc-lists{
      list-style-type: disc;
      gap: 4px;
      padding: 0 60px;
    }
  }

  .registerOtherProf{
    display: flex;
    flex-direction: column;
    gap: 20px;

  }
  .other-cards{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    .other-card{
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 20px;
      background-color: rgb(236, 232, 232);
      height: 100px;
      max-width: min-content;
      padding: 0 50px;
      transition: all .2s ease;
      color: var(--custom-blue);
      &:hover{
        transform: scale(1.05);
        color: var(--custom-darkblue);
      }
    }
  }

  @media only screen and (max-width:600px){
    .register-find-work-FirstText, .register-find-work-SecondText, .register-find-work-ThirdText{
      text-align: center;
    }
  }





  /*media*/
  @media screen and (max-width:767px){
      .register-hero{
       flex-wrap: wrap;
       gap: 50px;
      }
      .formSide{
        padding: 0 10px;
      }
      .contentSideImage{
        margin-left: auto;
        margin-right: auto;
        min-width: 300px;
        height: 300px;
      }
      .tv-wrapper{
        padding: 40px 0;
        gap: 50px;
      }
  }



  